body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#idbox{
  width: 200px;
  position: relative;
  left:700px;
}

#submit{
  position: relative;
  left: 770px;
  top:10px;

}